.ff_matrix table .ffm_hierarchy { width:40px; vertical-align:middle; padding:5px; }
.ff_matrix table .ffm_hierarchy a { display:block; float:left; width:20px; height:20px; background:no-repeat 50% 50%; cursor:pointer; }
.ff_matrix table .ffm_hierarchy a.outdent { background-image:url(../images/outdent.gif); }
.ff_matrix table .ffm_hierarchy a.indent { background-image:url(../images/indent.gif); }
.ff_matrix table .ffm_hierarchy a.disabled { opacity:0.4; cursor:default; }